<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="androidx.browser,com.google.firebase.iid" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".StocksApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/StocksWidget.App.Theme"
        tools:replace="android:icon">
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login"
            android:exported="false">
        </activity>

        <activity
            android:name=".home.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.App.Starting"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".portfolio.AddPositionActivity"
            android:label="@string/add_position"
            android:theme="@style/AddPositionTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".settings.WidgetSettingsActivity"
            android:exported="true"
            android:label="@string/action_Settings"
            android:theme="@style/WidgetSettingsTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".onBoarding1"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".onBoard4"
            android:exported="false" />
        <activity
            android:name=".onBoard2"
            android:exported="false" />
        <activity
            android:name=".logout_account"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".portfolio.search.SearchActivity"
            android:label="@string/action_search"
            android:theme="@style/SearchTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".portfolio.AddAlertsActivity"
            android:label="@string/add_alerts"
            android:theme="@style/AddPositionTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".news.QuoteDetailActivity"
            android:label="@string/news_feed"
            android:parentActivityName=".home.MainActivity"
            android:theme="@style/NewsFeedActivityTheme" />
        <activity
            android:name=".news.GraphActivity"
            android:screenOrientation="landscape"
            android:theme="@style/GraphActivityTheme" />
        <activity
            android:name=".settings.WebViewActivity"
            android:theme="@style/WebViewTheme" />

        <receiver
            android:name=".UpdateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.RefreshReceiver"
            android:enabled="true" />
        <receiver
            android:name=".notifications.DailySummaryNotificationReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".widget.WidgetClickReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.starorigins.stockify.widgetapp.WIDGET_CLICK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.StockWidget"
            android:exported="true"
            android:label="@string/widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>

        <service
            android:name=".widget.RemoteStockProviderService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>